<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="shortcut icon" type="x-icon" href="assets/home-pizza.png"><!--the icon of our web-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - 10Free Pizza</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <header>
        <!-- Include your header content here -->
    </header>

    <section class="about-section">
        <div class="about-content">
            <h1>About 10Free Pizza</h1>
            <p>Welcome to 10Free Pizza, your go-to destination for mouthwatering pizzas! At our pizza shop, we are dedicated to delivering a delightful dining experience for pizza lovers.</p>
            <p>Our journey began with a passion for crafting the perfect pizza. From our fresh, hand-tossed dough to our carefully selected toppings and flavorful sauces, we take pride in creating pizzas that satisfy every craving.</p>
            <p>Its a simple equation that keeps our customers coming back for more. Always fresh toppings and great service plus low, low prices equals great pizza. Here at The Pizza Company, we strive to give our customers the best. Were one of the few family-owned companies left that still truly care about our customers..</p>
            <p>Thank you for being a part of our pizza-loving community. We look forward to serving you and creating delicious memories together.</p>
        </div>
        <div class="about-images">
            <img src="assets/image1.jpg" class="about-image">
            <img src="assets/image2.jpg" class="about-image">
            <img src="assets/image3.jpg" class="about-image">
        </div>
    </section>
    
</body>
</html>
