<!DOCTYPE html>
<html>
    <head> </head>
    <body> 
       <form class="movies-list">
        <table id="movie-table">
            <thead>
                <tr>
                    <th>Movie Name</th>
                    <th>Genre</th>
                    <th>Release year</th>
                </tr>
            </thead>

            <tbody id="movie-table-body">

            </tbody>

        </table>
        </form>
        <button type="submit" id="delete" onclick="delete_movie()" > delete</button>
        <div> <br/> <a href="/">Back</a>  </div>
        
       
        <script src="index.js"></script>
    </body>
</html>