<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="menu.css">
  <link rel="shortcut icon" type="x-icon" href="assets/home-pizza.png"><!--the icon of our web-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
  <!-- Include jQuery library -->
  <script src="jquery.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"><!--the link that enables us to use icons -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script><!--call to bootstrap-->
</head>
<body>

  
<h1>Product List</h1>


</div>


<div class="filter-buttons">
  <label for="category">Category:</label>
  <select id="category" name="category">
    <option value="">All</option>
    <option value="drink">Drinks</option>
    <option value="food">Food</option>
    <option value="dessert">Dessert</option>
  </select>

  <label for="price">Price:</label>
  <select id="price" name="price">
    <option value="">All</option>
    <option value="5">until $5</option>
    <option value="15">until $15</option>
    <option value="25">until $25</option>
  </select>
  <label for="fat">Fat:</label>
  <select id="fat" name="fat">
    <option value="">All</option>
    <option value="5">5 kcal</option>
    <option value="15">10</option>
    <option value="25">15 </option>
  </select>
</div>

<div id="order-class">
  <div id="orderList"></div>
</div>

<form id="inputForm">
<button id="openInputsBtn" style="display: block; margin: auto; margin-bottom: 10px;">Open Inputs</button>
<div id="inputContainer" style="display: none; text-align: center;">
  <!-- Input fields will be added here -->
  <label for="nameInput">Name:</label>
  <input type="text" id="nameInput" placeholder="Enter name" required>

  <label for="priceInput">Price:</label>
<input type="number" id="priceInput" placeholder="Enter price" required min="1">

  <label for="categoryInput">Category:</label>
  <input type="text" id="categoryInput" placeholder="Enter category" pattern="^(food|dessert|drink)$"  required>

  <label for="descriptionInput">Description:</label>
  <input type="text" id="descriptionInput" placeholder="Enter description" maxlength="50" pattern=".{0,50}" title="Please enter up to 100 characters" required>

  <label for="imageInput">Image Link:</label>
  <input type="text" id="imageInput" placeholder="Enter image link" pattern="^assets\/[\\w\\s-]+\\.(png|jpg|jpeg|gif|bmp|svg|webp|avif)$" required>

  <label for="fatInput">Fat:</label>
  <input type="number" id="fatInput" placeholder="Enter fat" required min="0">

  <button id="submitProductBtn" onclick="validateInputs()" style="display: block; margin: auto; margin-top: 10px;">Add Your New Product</button>
</div>
</form>






<!-- Filter button and category buttons -->
<a href="/homepagemanager" class="fas fa-reply custom-reply-icon"></a> <!-- Add the "custom-reply-icon" class -->

<div id="productList">
  <!-- Product list will be rendered here -->
</div>


<script>
  // Replace this URL with your actual API endpoint to fetch product data
  const apiEndpoint = 'http://localhost:3000/api/products';
  const orderListContainer=document.getElementById('orderList');
  const productListContainer = $('#productList');


  function validateInputs() {
  const name = document.getElementById('nameInput').value;

  const price = document.getElementById('priceInput').value;
  if (price < 1) {
    document.getElementById('priceInput').value = "";
    alert('Please enter a valid positive number for the price.');
    return;
  }

  const category = document.getElementById('categoryInput').value;
    const validCategories = ['food', 'drink', 'dessert'];     // Check if category is valid
  if (!validCategories.includes(category)) {
    document.getElementById('categoryInput').value = "";
    alert('Please enter a valid category ("food", "drink", or "dessert").');
    return;
  }

  const description = document.getElementById('descriptionInput').value;
  const image = document.getElementById('imageInput').value.trim();

  const imagePattern ="^assets\/[\\w\\s-]+\\.(png|jpg|jpeg|gif|bmp|svg|webp|avif)$"

  if (!image.match(imagePattern)) {
    document.getElementById('imageInput').value = "";
    alert("Please enter a valid image link. The link should start with 'assets/' and end with a valid image extension (png, jpg, jpeg, gif, bmp, svg, webp, avif)");
    return;
  }


  const fat = document.getElementById('fatInput').value;
    // Check if fat is a number
    if (fat<0) {
      document.getElementById('fatInput').value = "";
    alert('Please enter a valid number for the fat.');
    return;
  }

  // Check if any required input is empty
  if (!name || !price || !category || !description || !image  || !fat) {
    alert('Please fill in all required fields correctly');
    return; // Return false to prevent form submission
  }



  
  AddNewProductAsTheManageChoice(); // All inputs are valid
}


function AddNewProductAsTheManageChoice() {


  const name = document.getElementById('nameInput').value;
  const price = document.getElementById('priceInput').value;
  const category = document.getElementById('categoryInput').value;
  const description = document.getElementById('descriptionInput').value;
  const image = document.getElementById('imageInput').value;
  const fat = document.getElementById('fatInput').value;

  // Set isShow to true for the new product
  const isShow = 'false'; // Set to true here

  const newProductData = {
    name: name,
    price: price,
    category: category,
    description: description,
    image: image,
    fat: fat,
    isShow: isShow,
  };



  $.ajax({
    url: 'http://localhost:3000/api/products',
    method: 'POST',
    dataType: 'json',
    contentType: 'application/json',
    data: JSON.stringify(newProductData),
    success: function (data) {
      // Product added successfully
      console.log('Product added:', data);
      // // Clear the input fields and update the UI here
      alert('Product added successfully');
    },
    error: function (err) {
      // Error handling in case the API call fails
      console.error('Failed to add product to this manager page');
      alert('Failed to add product');
    }
  });
}


  function facebookfuncadd(name)
{
    const whatToPost = `We added ${name} to the menu`;
    const pageId = "113483408515771";
    const faceBookToken = "EAALthlaxhSoBOxjSgaek7gzY3CghpCTDLgaZAPhRQUzbyy2u7PoA4Ytj8FBG4tGmRfmqALLomw5ZBOAWgsZBzsZA6IdKNWArgIYAy0p6dh2VQv6ZCPYxBMzR8qlLwHfk8PZCOED1SXsy9xu0nhDXCOOl2krGgfEbTINVZCQsNDMabLSObohtbgCWVqxXMMNcwKlr28l6ewZD";
    $.ajax({
        url: `https://graph.facebook.com/${pageId}/feed`,
        method: "POST",
        data: {
          message: whatToPost,
          access_token: faceBookToken
        },
        success: function(response) {
          console.log(response);
        },
        error: function(error) {
          console.log(error);
        }
      });
    }
    
  function facebookfuncremove(name)
{
    const whatToPost = `We removed ${name} from the menu`;
    const pageId = "113483408515771";
    const faceBookToken = "EAALthlaxhSoBOxjSgaek7gzY3CghpCTDLgaZAPhRQUzbyy2u7PoA4Ytj8FBG4tGmRfmqALLomw5ZBOAWgsZBzsZA6IdKNWArgIYAy0p6dh2VQv6ZCPYxBMzR8qlLwHfk8PZCOED1SXsy9xu0nhDXCOOl2krGgfEbTINVZCQsNDMabLSObohtbgCWVqxXMMNcwKlr28l6ewZD";
    $.ajax({
        url: `https://graph.facebook.com/${pageId}/feed`,
        method: "POST",
        data: {
          message: whatToPost,
          access_token: faceBookToken
        },
        success: function(response) {
          console.log(response);
        },
        error: function(error) {
          console.log(error);
        }
      });
    }

//query
// Add event listeners for category and price selection
$('#category').on('change', fetchqueryProducts);
$('#price').on('change', fetchqueryProducts);
$('#fat').on('change', fetchqueryProducts);


function fetchqueryProducts() {
  const category = $('#category').val();
  const price = $('#price').val();
  const fat = $('#fat').val();


  $.ajax({
    url: apiEndpoint,
    method: 'GET',
    dataType: 'json',
    data: {
      category: category || undefined,
      price: price || undefined,
      isShow: true,
      fat:fat|| undefined
      //|| help us make value with no value as undefined string like this "" consider to false
    },
    success: function (data) {
      renderProducts(data);
    },
    error: function (err) {
      alert(`Failed to get product data: ${err.responseJSON.errors}`);
    }
  });
}





  
  // Function to fetch and render product data
  function fetchProducts() {
    $.ajax({
      url: apiEndpoint,
      method: 'GET',
      dataType: 'json',
      success: function (data) {
        // Product data received successfully
        renderProducts(data);
      },
      error: function (err) {
        // Error handling in case API call fails
        console.log(err)
        alert('Failed to fetch product data.');
      }
    });
  }



  // Function to render the product data on the screen
  function renderProducts(products) {
    productListContainer.empty();
    // Loop through each product and create an HTML element to display it
    products.forEach(function (product) {
      const name=product.name;
      const price=product.price;
      const id=product._id;
      const category=product.category;
      const description=product.description;
      const image=product.image;
      const isShow=product.isShow;
      const webServiceId=product.webServiceId;
      const fat=product.fat;

      
      const productElement = `
        <div class="product">
          <h2 class="product-name">${product.name}</h2>
        
          <div class="product-price"> price: ${product.price}$</div>
          <input type="text" class="edit-product-price" value="${product.price}" style="display: none;">
          <button class="order-btn" data-product-id="${id}" onclick='editProductPrice(this, "${name}","${price}","${id}","${category}","${description}","${image}","${isShow}","${webServiceId}","${fat}")'> <i class="fas fa-edit"></i></button>

          <div class="product-description"> ${product.description}</div>
        
          
          <p> <img src="${product.image}" alt="${product.name}" width="100"></p>

          <button class="order-btn" onclick='addProductMenu("${name}","${price}","${id}","${category}","${description}","${image}")'">Add to menu</button>
          <button class="order-btn" onclick='removeProductMenu("${name}","${price}","${id}","${category}","${description}","${image}","${isShow}")'">Remove from menu</button>
        </div>
      `;

      productListContainer.append(productElement);
    });
  }




  function editProductPrice(button, name, price, id, category, description, image, isShow,webServiceId, fat) 
{
  const productDiv = button.closest('.product');
  const productPrice = productDiv.querySelector('.product-price');
  const editInput = productDiv.querySelector('.edit-product-price');
  
  if (editInput.style.display === 'none') {
    productPrice.style.display = 'none';
    editInput.style.display = 'block';
    editInput.value =price;
    console.log(price);
    button.textContent = 'Save Price';
  } else {
    const newPrice = editInput.value;
    productPrice.textContent = "price: "+newPrice+"$";
    productPrice.style.display = 'block';
    editInput.style.display = 'none';
    button.textContent = 'Edit Price';
    
    const productId = button.getAttribute('data-product-id'); // Get the productId from the button's data attribute
    UpdatePriceInDataBase(productId, name, newPrice, id, category, description, image, isShow, webServiceId, fat);

}
}


function UpdatePriceInDataBase(productId, name, price, id, category, description, image, isShow, webServiceId, fat)
{

  const updateData={
    _id:id,
    name:name,
    price:price,
    category:category,
    description:description,
    image:image,
    isShow:isShow,
    webServiceId:webServiceId,
    fat:fat

  };

  $.ajax({
    url: `http://localhost:3000/api/products/${productId}`,
    method: 'PUT',
    dataType: 'json',
    contentType: 'application/json',
    data: JSON.stringify(updateData)

  });
}







function addProductMenu(name, price, id, category,description, image) 
{
  // Prepare the data for the order
    const productData = {
    _id:id,
    name: name,
    price: price,
    category:category,
    description:description, 
    image:image,
    isShow:true
    // Add other data fields as needed
  };
  $.ajax({
      url: `http://localhost:3000/api/products/${id}`,
      method: 'PUT',
      dataType: 'json',
      contentType: 'application/json', // Set the content type to JSON
      data: JSON.stringify(productData), // Convert the data to JSON format
      success: function (data) {
        alert("you add to menu your product")

      },
      error: function (err) {
        // Error handling in case API call fails
        alert(`Failed to put product data, because: ${err.responseJSON.errors}`);
      }
    });

    facebookfuncadd(productData.name)

}


function removeProductMenu(name, price, id, category,description, image,isShow) 
{
  // Prepare the data for the order
  console.log(isShow);
 
    const productData = {
    _id:id,
    name: name,
    price: price,
    category:category,
    description:description, 
    image:image,
    isShow:false
    // Add other data fields as needed
  };
  $.ajax({
      url: `http://localhost:3000/api/products/${id}`,
      method: 'PUT',
      dataType: 'json',
      contentType: 'application/json', // Set the content type to JSON
      data: JSON.stringify(productData), // Convert the data to JSON format
      success: function (data) {
        alert("you remove to menu your product")

      },
      error: function (err) {
        // Error handling in case API call fails
        alert(`Failed to put product data unshow, because: ${err.responseJSON.errors}`);
      }
    });

    facebookfuncremove(productData.name)
}


// to check if you have products in your items if not its not make sence that you have the power to do order

function itmesIsExist()
{
  if(items.length==0)
  {
    alert("you have to choose products for do a order");
    window.location.href = "menu";
  }
  else{
    window.location.href="order"
  }
}



  $('.filter-btn').click(function () {
    $('.category-buttons').toggle();
    $('.product').show();
  });

  $('.category-btn').click(function (){
    const selectedCategory = $(this).data('category');
    $('.product').hide();
    $(`.product.${selectedCategory}`).show();
  });
 
  // Toggle the visibility of input container and "Add Your New Product" button
  $('#openInputsBtn').click(function () {
    $('#inputContainer').show();
    $ ('#submitProductBtn').show();
   
  });

    // Fetch the product data when the page loads
  $(document).ready(function () {
  console.log('insert to function');
    fetchProducts();

  });

    
  
</script>
</body>
</html>