<script>
    async function onResetPassword(){
                const newPass = document.querySelector('#newpass').value
                const email = document.querySelector("#email").innerHTML
                if(!newPass) return alert('new password must be entered!')
                fetch(`/api/user/reset-pass/`, {method: 'POST','Content-Type':'application/json',body: JSON.stringify({email,newPass})}).then(() => {
                    alert('Password Successfully changed!')
                    window.open(`http://localhost:3000/`,'_self')
                }).catch(e =>  {
                    alert('There was a problem reseting your password, please contact site moderators')
                });
    }
 </script>
<h1>
<div id="email">
    <%= email %>
</div>
    <input id ="newpass" placeholder="Enter new password" type="password">
    <button onclick="onResetPassword()">Reset</button>
</h1>