/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a background color for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Style the header */
header {
    background-color: #ff0000;
    color: #fff;
    text-align: center;
    padding: 30px;
}

/* Style the about section */
.about-section {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.about-content {
    max-width: 600px;
    margin-bottom: 20px;
}

.about-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.about-content p {
    margin-bottom: 15px;
    font-size: 1.1em;
    line-height: 1.5;
}

.about-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Align and style the images in one line */
.about-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.about-images img {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style the footer */
footer {
    background-color: #f8f8f8;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.social-media-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-media-list li {
    margin: 0 10px;
}

.social-media-list a img {
    width: 30px;
    height: 30px;
}
