/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Set a background color for the body */
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
}

/* Style the header */
header {
    background-color: #c41717;
    color: #fff;
    text-align: center;
    padding: 30px;
}

/* Style the contact section */
.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.contact-content {
    max-width: 800px; /* Increase max-width to make content wider */
    margin-bottom: 20px;
}

.contact-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.contact-content p {
    margin-bottom: 15px;
    font-size: 1.1em;
    line-height: 1.5;
}

.contact-form {
    max-width: 400px; /* Increase max-width to make form wider */
    width: 100%; /* Use full width of the container */
    margin: 0 auto;
    background-color: #fff;
    padding: 30px; /* Increase padding to make form bigger */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-box {
    margin-bottom: 20px; /* Increase margin for more space between input boxes */
}

.input-box label {
    font-size: 1.1em;
    display: block;
    margin-bottom: 5px;
}

.input-box input,
.input-box textarea {
    width: 100%;
    padding: 15px; /* Increase padding to make inputs taller */
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #c41717;
    color: #fff;
    border: none;
    padding: 15px 30px; /* Increase padding to make button bigger */
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #991f1f;
}

/* Style the footer */
footer {
    background-color: #f8f8f8;
    padding: 20px 0;
    text-align: center;
}

/* Contact us style */
.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.social-media-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-media-list li {
    margin: 0 10px;
}

.social-media-list a img {
    width: 30px;
    height: 30px;
}

/* Change the color of the email link to black */
.footer-content a {
    color: #991f1f;
}
