body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-buttons {
    margin: 25px;
    font-size: 30px;
}

#name-query , #price , #address-query{
    font-size: 15px;
}

.order {
    font-size: 30px;
}