/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  /* Set a background color for the body */
  body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
  }
  
  /* Style the header */
  header {
    background-color: #c41717;
    color: #fff;
    text-align: center;
    padding: 50px;
  }
  .title {
    text-align: center;
  }
  
  .title h1 {
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 90px;
  }
  
  /* Style the custom reply icon */
  .custom-reply-icon {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    margin-right: 20px; /* Adjust margin to create spacing between icon and title */
    float: left; /* Align the icon to the left */
  }
  
  
  /* Style the user details container */
  #userDetails {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  #userDetails h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
  }
  
  #userDetails p {
    font-size: 1.2em;
    color: #666;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    #userDetails {
      width: 100%;
    }
  }
  