* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 180px;
    background: #c41717;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    margin-top: 20;
}

h1 {
    font-size: 2.5em;
    color: black;
    margin-bottom: 80px;
}
#PasswordInput {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 30px;
    width: 30%;

}

#submitButton {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #c41717;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px
}

#submitButton:hover {
    background-color: #8f0000;
}

#contentContainer {
    margin-top: 20px;
    display: none; /* Initially hide the content */
    /* Additional styles for the content container */
}